body {
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
}

/* Inspired by https://jrl.ninja/etc/1/ */
#content {
    max-width: 80ch;
    padding: 1ch;
    margin: 5rem auto auto auto;
}

h1.title {
    margin-top: 0;
}

.navbar {
    background-color: #ccc;
    color: black;
    border: 2px solid black;
    box-shadow: 3px 3px 3px #eee;
    font-weight: bold;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
}

/* Some experiment */
/* .navbar:before { */
/*     content: "Site Navigation"; */
/*     color: white; */
/*     background-color: black; */
/*     display: block; */
/*     padding: 0; */
/*     font-weight: normal; */
/*     font-size: 90%; */
/* } */

.navbar p {
    margin: 0;
}

.navbar a {
    color: inherit;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    background-color: black;
}

/* Liturgical colors for .navbar */

/* Advent/Lent: purple */
/* .navbar { */
/*     color: white; */
/*     background-color: #7f00ff; */
/* } */
/* .navbar a:hover { */
/*     color: black; */
/*     background-color: white; */
/* } */

/* Special Advent/Lent: rose */
/* .navbar { */
/*     color: black; */
/*     background-color: #fbcce7; */
/* } */
/* .navbar a:hover { */
/*     color: white; */
/*     background-color: black; */
/* } */

/* Christmas/Easter: white */
/* .navbar { */
/*     color: black; */
/*     background-color: white; */
/* } */
/* .navbar a:hover { */
/*     color: white; */
/*     background-color: black; */
/* } */

/* Ordinary Time: green */
.navbar {
    color: white;
    background-color: green;
}
.navbar a:hover {
    color: black;
    background-color: white;
}

/* Pentacost, special feasts: red */
/* .navbar { */
/*     color: white; */
/*     background-color: #F00; */
/* } */
/* .navbar a:hover { */
/*     color: black; */
/*     background-color: white; */
/* } */

/* Requiem: black */
/* .navbar { */
/*     color: white; */
/*     background-color: black; */
/* } */
/* .navbar a:hover { */
/*     color: black; */
/*     background-color: white; */
/* } */

/* Another experiment */
/* blockquote { */
/*     border: 2px solid; */
/*     margin: 0; */
/*     padding: 0 2.5em; */
/*     color: black; */
/*     background-color: #ccc; */
/* } */

blockquote, .figure {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 0 1em;
    margin: 1.2em;
}

blockquote.warning {
    background: #F8E8E8;
    border: 4px solid #FF0000;
}

.figure img {
    max-width: 100%;
}

code {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #eee;
}
